.page-product {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(80, 35, 35);
}

.pg-product-navbtt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pg-product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 236, 239);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 0px 6px 2px rgb(253, 155, 170);
    overflow: hidden;
}

.pg-product-title {
    padding: 20px;
    margin-bottom: 20px;
}

.pg-product-img {
    display: block;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    align-self: center;
}

.pg-product-img > img {
    border-radius: 20px;
    padding: 10px;
    max-height: 600px;
    max-width: 600px;
}

.pg-product-descripcion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: larger;
    font-weight: bold;
    padding: 20px;
    text-align: justify;
}

.pg-product-stats-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pg-product-stats {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    padding: 0px 20px 20px 20px;
}

.pg-product-price {
    font-size: larger;
    font-weight: bold;
}

.pg-product-price > span {
    font-size: 180%;
}

.pg-product-cat {
    font-size: larger;
    font-weight: bold;
}

.pg-product-cat > span {
    font-size: 150%;
    text-transform: capitalize;
}

.pg-product-count {
    font-size: larger;
    font-weight: bold;
}

.pg-product-count > span {
    font-size: 150%;
}

.pg-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg-product-rate {
    font-size: larger;
    font-weight: bold;
}

.up-product-box {
    border: 1px solid rgb(253, 32, 65);
}

.up-product-form {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    gap: 1rem;
}

.up-item-form {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    gap: 0.5rem;
}

.up-label-form {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 23%;
}

.div-input {
    display: flex;
    width: 52%;
}

.up-input-form {
    position: relative;
    display: inline-block;
    flex: 1 1 0;
    min-width: 0;
    padding: 4px 11px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.6;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}

.up-input-form:focus {
    outline: none;
    border: 1px solid rgb(255, 42, 74);
    box-shadow: 0px 0px 2px 2px rgb(253, 155, 170);
}

div > textarea {
    min-height: 6rem;
}

.up-input-option {
    border-radius: 6px;
}

.up-product-navbtt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
