.product-card {
    max-width: 15rem;
    background-color: rgb(255, 236, 239);
    padding: 10px;
    border: 1px ridge rgb(253, 32, 65);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px rgb(253, 155, 170);
    color:  rgb(80, 35, 35);
}

.product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    height: 50px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.product-title > a {
    text-decoration: none;
    color: rgb(80, 35, 35);
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    height: 210px
}

.product-image > img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 5px;
}

.product-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    overflow: hidden;
    min-height: 10.5rem;
    text-align: justify;
    margin-top: 5px;
}

.product-category {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-rate-count {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.bold-text {
    font-weight: bold;
    text-transform: capitalize;
}

.product-rate-count-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ant-rate {
    color: gold;
}