.product-grip {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 40px;
}

.title-loading {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color:  rgb(80, 35, 35);
}