.product-grip {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.title-loading {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}