.product-item {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    background-color: lightgray;
    padding: 10px;
    border: 1px ridge grey;
    border-radius: 10px;
    box-shadow: 0px 4px 12px 1px rgb(172, 171, 171);
}

.product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    height: 4rem;
    margin-top: 0;
    margin-bottom: 2%;

    align-content: center;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 5px;
}

.product-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    overflow: hidden;
    min-height: 10rem;
}

.product-others {
    
    bottom: 0;
}

.product-rate-count {
    display: flex;
    justify-content: space-between;
}

.bold-text {
    font-weight: bold;
}