.product-frame {
    display: flex;
    flex-direction: column;
}

.add-product {
    padding: 10px;
    background-color: rgb(253, 32, 65);
    color: white;
}

.new-product-form {
    align-self: center;
    margin: 30px;
    width: 70%;
}

.btn-area {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    gap: 2rem;
}

.input-descripcion {
    height: 200px;
}

.bt-red-color {
    background-color: rgb(253, 32, 65);
}